.header {
    text-align: center;
    display: flex;
    flex-direction: column;
        header a{
            display: flex;
            justify-content: center;
            }
            .header-image{
            margin-top: 15px;
            height: 30px;
        }
}

.menu_header_logo{
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    display: flex;
}

@media all and (min-width:768px){

}

@media all and (min-width:1090px){

}

@media all and (min-width:1500px){

}