.header {
  box-sizing : border-box;
  width : 100%;
  display : grid;
  grid-template-rows : 100%;
  grid-template-columns : 3fr 4fr 3fr;
  justify-content : start;
  align-items : center;
  }
  .reserve {
  background-color : #f2f2f2;
  text-align : center;
  padding-top : 25px;
  }
  .reserve_hgroup h1 {
  font-size : 25px;
  margin : 0;
  }
  .section_contain {
  display : flex;
  justify-content : space-between;
  margin-bottom : 30px;
  }
  .section_contain .section_button {
  background-color : #f2f2f2;
  text-decoration : none;
  padding : 10px;
  margin-bottom : 15px;
  }
  .section_icons {
  font-size : 20px;
  padding : 5px;
  }
  .section_texte {
  color : black;
  font-weight : bold;
  padding : 10px;
  }